.font-weight-light {
    font-weight: lighter;
}

.font-weight-bold {
    font-weight: bold;
}

.font-family-body-cc {
    font-family: ccbiffbamboom, sans-serif;
}

.font-family-body-k {
    font-family: Koara, sans-serif;
}

.font-size-sm {
    font-size: 5px;
}

.font-size-md {
    font-size: 10px;
}

.font-size-lg {
    font-size: 20px;
}